.nav-wrapper{
	background-color: #00bcd4
}
.brand-logo{
	margin-left:20px;
	
}
.cadastro-start{
	color:#bdbdbd;
	text-align: center;
}
.text-button{
	color:#FAFAFA;
}
h4{
	color: #7CB342

}
h3{
	color: #7CB342

}
h5{
	color: #7CB342

}

